@use "../standards.scss" as standard;

.timeline {
    margin-top: 20px;
    position: relative;
}

.timeline-date {
    margin-bottom: 10px;
    position: relative;
}

.timeline:before {
    position: absolute;
    content: "";
    width: 4px;
    height: calc(100% + 50px);
    background: standard.$titanium;
    left: 14px;
    top: 5px;
    border-radius: 4px;
}

.timeline-section {
    padding-left: 35px;
    display: block;
    position: relative;
    margin-bottom: 30px;
}

.timeline-section:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: standard.$gold;
    top: 5px;
    left: 9px;
    border-radius: 100%;
}

.timeline-section .col-sm-4 {
    margin-bottom: 15px;
}

.timeline-box {
    position: relative;
    border-radius: 15px;
    background-color: standard.$titanium;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
}

.box-icon {
    position: absolute;
    right: 5px;
    top: 0px;
}

.box-content {
    padding: 5px 15px;
}

.box-content strong {
    color: #666;
    font-style: italic;
    margin-right: 5px;
}

.box-item {
    margin-bottom: 5px;
}

.total-sleep {
    display: flex;
    justify-content: flex-end;
}
