@use "./standards.scss" as standard;

.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    padding: 10px;
    background-color: standard.$platinum;
}

.card:hover {
    box-shadow: 0 8px 16px 0 standard.$obsidian;
}

.data-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.athlete-data {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.button-section {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}

.margin-right {
    margin-right: 10px;
}
