/* Colors */

//Primary Pallet Colors
$white: white;
$black: black;
$gold: #ffd700;

//Text Colors
$obsidian: #191919;
$nickel: #888b8d;

//Background colors
$platinum: #e6e6e6;
$aluminium: #dad9d8;
$titanium: #c1c0be;
$anthracite: #5b5a58;

//Button color
$button-color: #ac9100;

//Separator Colors
$palladium-wg: #c4b39a;

/* Font Family */
$sans-serif: sans-serif;


