/* Colors */

//Primary Pallet Colors
$white: white;
$black: black;
$gold: gold;

//Text Colors
$obsidian: #191919;
$nickel: #888b8d;

//Background colors
$platinum: #e6e6e6;
$aluminium: #DAD9D8;
$titanium: #C1C0BE;
$anthracite: #5B5A58;


//Separator Colors
$palladium-wg: #c4b39a;

/* Font Family */
$sans-serif: sans-serif;